.login {
    width: 20%;
    margin: 0px auto;
    margin-top: 0;
    background-color: white;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
    color: var(--outline);
    align-items: center;
    display: flexbox;
}