body {
  background-image: linear-gradient(#fdfefe, #e5e7e9, #f0f3f4);
  background-color: lightgray;
  font-family: "GFS Didot";
  padding: 0px;
  margin: 0px;
}
input,
button {
  font-family: "GFS Didot";
}
.main {
  width: 20%;
  margin: 0px auto;
  margin-top: 100px;
  background-image: linear-gradient(#fdfefe, #ecf0f1);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fbfcfc;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
}
.main input {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: ghostwhite;
  padding: 15px;
  outline-color: rgb(133, 133, 133);
  margin-bottom: 10px;
  width: 100%;
}

.main button {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: ghostwhite;
  padding: 15px;
  outline-color: rgb(133, 133, 133);
  display: block;
  width: 100%;
  background: #45b39d;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.main button:hover {
  background: #a2d9ce;
}

.switch {
  padding-top: 5px;
}

.switch button {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: ghostwhite;
  padding: 15px;
  outline-color: rgb(133, 133, 133);
  display: block;
  width: 100%;
  background: lightskyblue;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.switch button:hover {
  background: rgb(215, 236, 249);
}

.loginheader {
  font-size: 20px;
  color: #424949;
  text-align: center;
}

.back {
  padding-bottom: 7%;
}

.back button {
  float: right;
  display: block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: ghostwhite;
  padding: 15px;
  outline-color: rgb(133, 133, 133);
  display: block;
  width: 50px;
  height: 25px;
  background: lightskyblue;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}