@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font-family: "Poppins", sans-serif;
  --body-font-color: #676767;
  --light-color: #fff;
  --dark-color: #2e2e2e;
  --dark-color-lighter: #4d4d4d;
  --accent-color: #550096;
  --section-background-color: #fef5f5;
}

.logo-image{
  width: 100px;
  height: auto;

}

body {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
}

input,
button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--dark-color);
  padding: 1.4rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  transition: background-color 0.25s;
}
.main {
  width: 20%;
  margin: 0px auto;
  margin-top: 0;
  background-color: var(--light-color);
  border: 1px solid var(--dark-color-lighter);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
}
.main input {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: ghostwhite;
  padding: 15px;
  outline-color: var(--dark-color-lighter);
  margin-bottom: 10px;
  width: 100%;
}

.main button {
  display: block;
  border: 1px solid var(--dark-color-lighter);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 15px;
  outline-color: rgb(133, 133, 133);
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--light-color);
  margin-bottom: 2px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.main button:hover,
.button:focus {
  background: #a17abf;
}

.switch {
  padding-top: 5px;
}

.loginheader {
  font-size: 20px;
  color: var(--body-font-color);
  text-align: center;
}

a {
  color: var(--light-color);
}
